/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: #09C7AE;
    overflow: auto;
    padding: 10px;
    display: block !important;
  }
  
  .navbar img {
      float: left !important;
      
      cursor: pointer;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    color: white !important;
    
    margin-top: 10px !important;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #4DD8C6;
  }
  
  /* Current/active navbar link */
  /* .active {
    background-color: #4CAF50;
  }
   */
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
 